<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/str_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SANCLM"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Activities.Map.CustSelection.TagCustSelectionList"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden"  />

        <activity
            android:name=".Activities.Profile.CustomerProfile"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name=".Activities.Call.DCRCallActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden"  />

        <activity
            android:name=".Activities.Call.DcrCallSelection.DcrCallTabLayoutActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />

        <activity
            android:name=".Activities.Map.MapsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />

        <activity
            android:name=".Activities.TourPlan.TourPlanActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Activities.MasterSync.MasterSyncActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Login.LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Setting.SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.HomeScreen.HomeDashBoard"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>