<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:screenOrientation="landscape" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- <uses-permission -->
    <!-- android:name="android.permission.MANAGE_EXTERNAL_STORAGE" -->
    <!-- tools:ignore="ScopedStorage" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION " />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/zen_logo"
        android:label="@string/str_app_name"
        android:largeHeap="true"
        android:logo="@drawable/zen_logo"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/zen_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SANCLM"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".activity.standardTourPlan.addListScreen.AddListActivity"
            android:exported="false"
            android:screenOrientation="landscape"  />
        <activity
            android:name=".activity.standardTourPlan.calendarScreen.StandardTourPlanActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.myresource.Categoryview.DateSyncActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.reports.dayReport.MapViewActvity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.FAQ.FAQ"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PrivacyPolicyActvity.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.activityModule.DynamicActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activity.Quiz.QuizActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.previewPresentation.PreviewActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.reports.ReportWebActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.reports.ReportFragContainerActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.reports.ReportsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.presentation.playPreview.PlaySlidePreviewActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.call.adapter.detailing.PlaySlideDetailing"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.approvals.tp.TpApprovalActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />
        <activity
            android:name=".activity.approvals.geotagging.GeoTaggingActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />
        <activity
            android:name=".activity.approvals.dcr.detailView.DcrDetailViewActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />
        <activity
            android:name=".activity.forms.Forms_activity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.myresource.MyResource_Activity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.leave.CalendarActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/NoBackgroundNoTitleDialogTheme" />
        <activity
            android:name=".activity.approvals.leave.LeaveApprovalActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />
        <activity
            android:name=".activity.tourPlan.TourPlanActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.masterSync.MasterSyncActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.setting.SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.approvals.tpdeviation.TpDeviationApprovalActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.approvals.dcr.DcrApprovalActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.map.custSelection.TagCustSelectionList"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.call.profile.CustomerProfile"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activity.call.DCRCallActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.call.dcrCallSelection.DcrCallTabLayoutActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.map.MapsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.leave.Leave_Application"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />
        <activity
            android:name=".activity.approvals.ApprovalsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />
        <activity
            android:name=".activity.presentation.presentation.PresentationActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" />
        <activity
            android:name=".activity.presentation.createPresentation.CreatePresentationActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.splash.SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.homeScreen.HomeDashBoard"
            android:exported="false"
            android:screenOrientation="landscape" />

        <service
            android:name=".services.FirebaseService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.myresource.MyResource_mapview"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.forms.weekoff.weekoff_viewscreen"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.remaindercalls.RemaindercallsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.myresource.Resource_profiling"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.myresource.callstatusview.Callsstatus_screenview"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.myresource.Categoryview.Cate_viewscreen"
            android:exported="false"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!--
   <provider
               android:name="androidx.core.content.FileProvider"
               android:authorities="${applicationId}.saneforce.santrip.fileprovider"
               android:exported="false"
               android:grantUriPermissions="true">
               <meta-data
                   android:name="android.support.FILE_PROVIDER_PATHS"
                   android:resource="@xml/filepaths" />
           </provider>
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="saneforce.sanzen.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".activity.slideDownloaderAlertBox.SlideServices"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>