<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/str_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SANCLM"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".activity.mastersync.MasterSyncActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.setting.SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape">

        </activity>



        <activity
            android:name=".activity.HomeScreen.HomeDashBoard"
            android:exported="true"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>